In [201]:
import pandas as pd

In [202]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [203]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,240.0,240.0,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,240.0,240.0,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,240.0,240.0,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22629,240.0,240.0,43.0,92.0,0.467,12.0,34.0,0.353,12.0,19.0,...,51.5,33.0,200.0,112.0,MIN,117,0,2024,2023-11-10,False
22630,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
22631,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False
22632,240.0,240.0,42.0,82.0,0.512,12.0,27.0,0.444,12.0,19.0,...,53.2,28.0,146.0,126.0,TOR,121,1,2024,2023-11-24,False
22633,240.0,240.0,44.0,83.0,0.530,13.0,39.0,0.333,20.0,27.0,...,25.0,34.3,195.0,136.0,CHI,108,0,2024,2023-11-24,True

In [204]:
df = df.sort_values("date")
df = df.reset_index(drop=True) # resets the index to the sorted list, but drops the aditional column with the old indexes
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

# need to remove some games that have buggy box scores
remove = list(range(20056, 20079))
remove.append(21044)
remove.append(21045)
df = df.drop(remove, axis='index').copy()
df = df.reset_index(drop=True)

In [205]:
def add_target(team):
    team["target"] = team["won"].shift(-1) # takes in a team's games and makes a column if the team won their next game
    return team

df = df.groupby("team", group_keys = False).apply(add_target) # if group_keys is not false there will be unnecessary indexes

In [206]:
# After splitting data frame using groupby, we can use data frame for each team
df[df["team"] == "GSW"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
4,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,True
53,240.0,43.0,93.0,0.462,9.0,26.0,0.346,17.0,25.0,0.680,...,37.5,151.0,118.0,HOU,92,1,2016,2015-10-30,True,True
71,240.0,46.0,84.0,0.548,17.0,30.0,0.567,25.0,35.0,0.714,...,36.1,218.0,131.0,NOP,120,1,2016,2015-10-31,True,True
94,240.0,43.0,84.0,0.512,11.0,25.0,0.440,22.0,30.0,0.733,...,44.3,106.0,126.0,MEM,69,0,2016,2015-11-02,True,True
128,240.0,39.0,85.0,0.459,10.0,26.0,0.385,24.0,31.0,0.774,...,32.9,250.0,122.0,LAC,108,0,2016,2015-11-04,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22494,240.0,38.0,85.0,0.447,14.0,36.0,0.389,20.0,26.0,0.769,...,28.1,152.0,121.0,MIN,114,1,2024,2024-03-24,False,True
22530,240.0,47.0,85.0,0.553,13.0,38.0,0.342,6.0,10.0,0.600,...,58.0,222.0,129.0,MIA,92,1,2024,2024-03-26,True,True
22547,240.0,40.0,90.0,0.444,10.0,34.0,0.294,11.0,13.0,0.846,...,34.3,151.0,121.0,ORL,93,1,2024,2024-03-27,True,True
22580,240.0,48.0,89.0,0.539,11.0,32.0,0.344,8.0,9.0,0.889,...,37.4,159.0,130.0,CHO,97,1,2024,2024-03-29,True,True
22595,240.0,45.0,92.0,0.489,16.0,39.0,0.410,11.0,13.0,0.846,...,41.5,158.0,130.0,SAS,113,1,2024,2024-03-31,True,NaN

In [207]:
df["target"][pd.isnull(df["target"])] = 2 # N/As become 2s

/var/folders/73/sdx5t33n3mbc72lvs97v4kcc0000gn/T/ipykernel_14102/1784734554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2 # N/As become 2s

In [208]:
df["target"] = df["target"].astype(int, errors = "ignore") # convert target from boolean to int without errors

In [209]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
4,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22604,240.0,45.0,84.0,0.536,20.0,40.0,0.500,17.0,23.0,0.739,...,28.5,144.0,143.0,UTA,106,0,2024,2024-03-31,True,2
22605,240.0,48.0,93.0,0.516,24.0,47.0,0.511,5.0,9.0,0.556,...,28.3,208.0,138.0,HOU,107,1,2024,2024-03-31,True,2
22606,240.0,38.0,81.0,0.469,11.0,37.0,0.297,14.0,21.0,0.667,...,36.2,146.0,115.0,CHI,109,0,2024,2024-03-31,False,2
22607,240.0,50.0,87.0,0.575,21.0,33.0,0.636,9.0,13.0,0.692,...,33.0,189.0,143.0,CLE,101,0,2024,2024-03-31,True,2
22608,240.0,43.0,75.0,0.573,14.0,29.0,0.483,30.0,34.0,0.882,...,25.9,158.0,144.0,CHO,118,1,2024,2024-03-31,True,2

In [210]:
df["won"].value_counts()

won
False    11305
True     11304
Name: count, dtype: int64

In [211]:
df["target"].value_counts()

target
1    11290
0    11289
2       30
Name: count, dtype: int64

In [212]:
# Get rid of nulls for ml
nulls = pd.isnull(df)

In [213]:
nulls = nulls.sum() # sometimes rerun all cells to fix bugs
nulls = nulls[nulls > 0] # returns only columns where there are more than one nulls
valid_columns = df.columns[~df.columns.isin(nulls.index)] # not in nulls

In [218]:
df = df[valid_columns].copy()
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
4,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22604,240.0,45.0,84.0,0.536,20.0,40.0,0.500,17.0,23.0,0.739,...,28.5,144.0,143.0,UTA,106,0,2024,2024-03-31,True,2
22605,240.0,48.0,93.0,0.516,24.0,47.0,0.511,5.0,9.0,0.556,...,28.3,208.0,138.0,HOU,107,1,2024,2024-03-31,True,2
22606,240.0,38.0,81.0,0.469,11.0,37.0,0.297,14.0,21.0,0.667,...,36.2,146.0,115.0,CHI,109,0,2024,2024-03-31,False,2
22607,240.0,50.0,87.0,0.575,21.0,33.0,0.636,9.0,13.0,0.692,...,33.0,189.0,143.0,CLE,101,0,2024,2024-03-31,True,2
22608,240.0,43.0,75.0,0.573,14.0,29.0,0.483,30.0,34.0,0.882,...,25.9,158.0,144.0,CHO,118,1,2024,2024-03-31,True,2