In [78]:
import pandas as pd

In [79]:
df = pd.read_csv("nba_games_2.csv", index_col=0)

In [80]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240,240,38,72,0.528,16,37,0.432,18,21,...,26.2,26.8,155,123,MIA,107,1,2023,2022-11-07,True
1,240,240,40,84,0.476,14,39,0.359,13,15,...,41.0,37.3,160,121,POR,110,0,2023,2022-11-07,False
2,240,240,41,78,0.526,8,24,0.333,15,19,...,28.6,41.1,250,125,DAL,90,1,2023,2022-12-14,True
3,240,240,29,74,0.392,13,38,0.342,19,26,...,12.6,33.0,183,110,CLE,105,0,2023,2022-12-14,False
4,240,240,39,81,0.481,6,20,0.300,14,18,...,22.8,29.0,178,111,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22629,240,240,43,92,0.467,12,34,0.353,12,19,...,51.5,33.0,200,112,MIN,117,0,2024,2023-11-10,False
22630,240,240,41,85,0.482,9,26,0.346,26,30,...,27.7,27.1,150,126,MIA,106,1,2020,2020-09-19,True
22631,240,240,33,85,0.388,12,44,0.273,28,34,...,51.5,36.2,141,114,BOS,117,0,2020,2020-09-19,False
22632,240,240,42,82,0.512,12,27,0.444,12,19,...,53.2,28.0,146,126,TOR,121,1,2024,2023-11-24,False
22633,240,240,44,83,0.530,13,39,0.333,20,27,...,25.0,34.3,195,136,CHI,108,0,2024,2023-11-24,True

In [81]:
#df = df.sort_values("date")
#df = df.reset_index(drop=True) # resets the index to the sorted list, but drops the aditional column with the old indexes
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

# need to remove some games that have buggy box scores
# remove = list(range(20056, 20079))
# remove.append(21044)
# remove.append(21045)
# df = df.drop(remove, axis='index').copy()
# df = df.reset_index(drop=True)

In [82]:
def add_target(team):
    team["target"] = team["won"].shift(-1) # takes in a team's games and makes a column if the team won their next game
    return team

df = df.groupby("team", group_keys = False).apply(add_target) # if group_keys is not false there will be unnecessary indexes

In [83]:
# After splitting data frame using groupby, we can use data frame for each team
df[df["team"] == "GSW"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
30,240,46,97,0.474,19,42,0.452,9,15,0.600,...,27.7,183,123,ORL,124,1,2021,2021-02-19,False,True
41,240,42,80,0.525,15,38,0.395,17,24,0.708,...,28.5,125,124,PHI,96,0,2022,2021-11-24,True,True
95,240,47,88,0.534,23,45,0.511,15,16,0.938,...,34.5,140,139,SAS,95,0,2023,2022-11-14,True,True
107,240,43,91,0.473,12,21,0.571,11,13,0.846,...,64.5,147,123,DET,95,0,2016,2015-11-09,True,True
133,240,39,91,0.429,15,42,0.357,16,22,0.727,...,47.1,178,122,MIN,104,0,2023,2023-02-26,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22555,265,53,102,0.520,14,37,0.378,14,15,0.933,...,42.6,182,131,HOU,135,0,2019,2019-01-03,False,True
22568,240,37,89,0.416,14,40,0.350,24,29,0.828,...,27.8,145,113,PHO,104,1,2016,2016-02-10,True,True
22589,240,40,78,0.513,10,31,0.323,18,20,0.900,...,30.0,259,123,NOP,99,0,2023,2023-03-03,True,False
22612,265,38,91,0.418,11,35,0.314,27,34,0.794,...,36.7,164,107,MIN,119,1,2023,2023-02-01,False,True
22617,240,39,93,0.419,14,46,0.304,23,27,0.852,...,28.1,136,124,LAC,91,0,2023,2023-03-02,True,NaN

In [84]:
df["target"][pd.isnull(df["target"])] = 2 # N/As become 2s

/var/folders/73/sdx5t33n3mbc72lvs97v4kcc0000gn/T/ipykernel_78231/1784734554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2 # N/As become 2s

In [85]:
df["target"] = df["target"].astype(int, errors = "ignore") # convert target from boolean to int without errors

In [86]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,38,72,0.528,16,37,0.432,18,21,0.857,...,26.8,155,123,MIA,107,1,2023,2022-11-07,True,0
1,240,40,84,0.476,14,39,0.359,13,15,0.867,...,37.3,160,121,POR,110,0,2023,2022-11-07,False,1
2,240,41,78,0.526,8,24,0.333,15,19,0.789,...,41.1,250,125,DAL,90,1,2023,2022-12-14,True,1
3,240,29,74,0.392,13,38,0.342,19,26,0.731,...,33.0,183,110,CLE,105,0,2023,2022-12-14,False,0
4,240,39,81,0.481,6,20,0.300,14,18,0.778,...,29.0,178,111,DAL,95,1,2016,2015-12-09,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22629,240,43,92,0.467,12,34,0.353,12,19,0.632,...,33.0,200,112,MIN,117,0,2024,2023-11-10,False,2
22630,240,41,85,0.482,9,26,0.346,26,30,0.867,...,27.1,150,126,MIA,106,1,2020,2020-09-19,True,2
22631,240,33,85,0.388,12,44,0.273,28,34,0.824,...,36.2,141,114,BOS,117,0,2020,2020-09-19,False,2
22632,240,42,82,0.512,12,27,0.444,12,19,0.632,...,28.0,146,126,TOR,121,1,2024,2023-11-24,False,2
22633,240,44,83,0.530,13,39,0.333,20,27,0.741,...,34.3,195,136,CHI,108,0,2024,2023-11-24,True,2

In [87]:
df["won"].value_counts()

won
True     11317
False    11317
Name: count, dtype: int64

In [88]:
df["target"].value_counts()

target
0    11302
1    11302
2       30
Name: count, dtype: int64

In [89]:
# Get rid of nulls for ml
nulls = pd.isnull(df)

In [90]:
nulls = nulls.sum() # sometimes rerun all cells to fix bugs
nulls = nulls[nulls > 0] # returns only columns where there are more than one nulls
valid_columns = df.columns[~df.columns.isin(nulls.index)] # not in nulls
nulls

+/-             22634
mp_max          22634
mp_max.1        22634
+/-_opp         22634
mp_max_opp      22634
mp_max_opp.1    22634
dtype: int64

In [91]:
df = df[valid_columns].copy()

In [92]:
# code to find null games so that I can modify csv file
# teams = df["team"][pd.isnull(df["+/-_max"])]
# dates = df["date"][pd.isnull(df["+/-_max"])]
# null_games = pd.concat([teams, dates], axis=1)
# null_games

# Used the original csv file to make a new csv file with some fixes

In [93]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,38,72,0.528,16,37,0.432,18,21,0.857,...,26.8,155,123,MIA,107,1,2023,2022-11-07,True,0
1,240,40,84,0.476,14,39,0.359,13,15,0.867,...,37.3,160,121,POR,110,0,2023,2022-11-07,False,1
2,240,41,78,0.526,8,24,0.333,15,19,0.789,...,41.1,250,125,DAL,90,1,2023,2022-12-14,True,1
3,240,29,74,0.392,13,38,0.342,19,26,0.731,...,33.0,183,110,CLE,105,0,2023,2022-12-14,False,0
4,240,39,81,0.481,6,20,0.300,14,18,0.778,...,29.0,178,111,DAL,95,1,2016,2015-12-09,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22629,240,43,92,0.467,12,34,0.353,12,19,0.632,...,33.0,200,112,MIN,117,0,2024,2023-11-10,False,2
22630,240,41,85,0.482,9,26,0.346,26,30,0.867,...,27.1,150,126,MIA,106,1,2020,2020-09-19,True,2
22631,240,33,85,0.388,12,44,0.273,28,34,0.824,...,36.2,141,114,BOS,117,0,2020,2020-09-19,False,2
22632,240,42,82,0.512,12,27,0.444,12,19,0.632,...,28.0,146,126,TOR,121,1,2024,2023-11-24,False,2
22633,240,44,83,0.530,13,39,0.333,20,27,0.741,...,34.3,195,136,CHI,108,0,2024,2023-11-24,True,2